services:
  boumbapp_frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: boumbapp_frontend
    ports:
      - "5174:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true

#  boumbapp_backend: ... (Removed for GH Pages Branch)
#  boumbapp_database: ... (Removed for GH Pages Branch)
#  boumbapp_db_backup: ... (Removed for GH Pages Branch)
#  boumbapp_mailpit: ... (Removed for GH Pages Branch)
#  boumbapp_adminer: ... (Removed for GH Pages Branch)
#  boumbapp_ai_engine: ... (Removed for GH Pages Branch)
#  boumbapp_ai_api: ... (Removed for GH Pages Branch)

volumes:
  # dbdata: (Removed for GH Pages Branch)

