.drum-lane {
    display: flex;
    align-items: center;
    width: max-content; // Force width to content size to trigger parent scroll
    min-width: 100%; // Ensure it fills at least the container
    gap: 10px;
    padding: 5px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;

    &:hover {
        background-color: #252525;
    }

    .drum-lane-sequencer {
        flex: 1;
        display: flex; // Ensure it flows
    }
}