.fader {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    touch-action: none; // Prevent scroll on mobile
    user-select: none;
    position: relative;
    outline: none;

    &__label {
        font-size: 0.8rem;
        margin-bottom: 8px;
        color: var(--text-color);
        opacity: 0.8;
    }

    &__track {
        width: 10px;
        background-color: var(--text-color);
        opacity: 0.2;
        border-radius: 5px;
        position: relative;
    }

    &__thumb {
        width: 30px;
        height: 15px;
        background-color: var(--primary-color); // Default color
        border-radius: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(50%); // Center thumb on value
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s;
    }

    &:focus,
    &--active {
        .fader__thumb {
            background-color: var(--primary-color);
        }
    }
}